.popup__image-text{
    max-width: 290px;
    position: relative;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
}