.profile__work{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (max-width:885px) {
    .profile__work{
        max-width: 500px;
    }
}
@media (max-width:600px) {
    .profile__work{
        font-size: 14px;
        line-height: 17px;
        max-width: 180px;
    }
}