.header__link{
    text-decoration: none;
    color: #fff;
    height: fit-content;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.header__link:hover{
    opacity: 0.6;
}