.element__container{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}