.footer__text{
    color: #545454;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 60px auto;
}
@media (max-width:590px) {
    .footer__text{
        font-size: 14px;
        line-height: 17px;
    }
}