.login__link{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.login__link:hover{
    opacity: 0.6;
}