.popup__container{
    position: relative;
    display: flex;
    flex-direction: column;
   left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: rgba(0,0,0,0);
}